@import '../variables';

.button {
  display: inline-block;
  background-color: $green;
  border-radius: 30px;
  padding: 13px;
  text-align: center;
  cursor: pointer;
  transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
  border: 1px solid transparent;
  position: relative;
  &,
  span {
    color: #fff;
  }

  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
  }

  &:hover {
    background-color: darken($green, 8%);
  }

  &:active {
    background-color: darken($green, 12%);
    transform: translateY(1px);
  }

  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    border-width: 2px;
  }

  &--black {
    background-color: $black;

    &:hover,
    &:active {
      background-color: lighten($color: $black, $amount: 10);
    }
  }

  &--outline {
    position: absolute;
    top: -9px;
    right: -9px;
    background-color:$red;
    padding:  3px 7px;
    border: 2px solid $white;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    color: $white;  
  }

  &__countChange{
    width: 26px;
    height: 34px;
    border: none;
    border-radius: 10px;
    background-color: #EFEFEF;
    cursor: pointer;
   
    &:active{
        background-color: $white;
    }
    &-disabled{
      opacity: 0.2;
    }
  }
 
  &__deleteItem{
    border:none;
    background: none;
    cursor: pointer;
  }

  &__pay {
    width: 100%;
    padding: 20px 40px;
    border-radius: 10px;
  
    @media (min-width:810px) {
     width: 275px;
    }
  }

  &__back{
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #ffffff;

    @media (min-width:810px) {
      width: 140px;
      border: 1px solid #C5C5C5;
     }

    span{
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: $black;

      img{
        margin-right: 5px;
      }
    }
  }

  &--back{
    border-radius: 10px;
    padding: 12px 30px;
  }

  &--cart {
    display: flex;
    align-items: center;
    line-height: 23px;
   
    svg {
      margin-right: 8px;
      margin-bottom: 1px;
    }

    span {
      font-weight: 600;
    
    }
  }
}
