@import '../variables';

.categories {
  margin-bottom: 25px;
  width:100%;
  overflow: scroll;
  display: flex;
  justify-content: space-between;

  @media (min-width:520px) {
    overflow: hidden;
  }

  ul {
    display: flex;
    gap: 6px;

    li {
      font-size: 15px;
      background-color: $white;
      padding: 10px 14px;
      border: solid 1px $border;
      border-radius: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
    
      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: $green;
        color: $white;
      }
    }
  }
  &__search{

  }
}
