@import '../variables';

.pizza-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 595px;
  max-width: 429px;
  border-top: 1px solid $border;
  padding: 28px 0;

  @media (min-width:443px) {
    justify-content: center;
  }

  @media (min-width:810px) {
    width: 100%;
    border-top: none;
    border: 1px solid $border;
    padding: 28px 20px;
    border-collapse: collapse;
    max-width: 100%;
  }

  &-wrapper{
    display: flex;
    justify-content: center;

    @media (min-width:810px) {
      width: 100%;
    }
  }

  &__image {
    margin-top: 10px;
    width: 260px;
    margin: 0 auto;

    @media (min-width:1200px) {
      width: 244px;
    }
  }

  &__title {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    width: 200px;
    flex-direction: column;
   
    ul {
      padding: 3px;
      display: flex;
      flex: 1;
      background-color: #f3f3f3;
      margin-bottom: 4px;
      border-radius: 10px;

      li {
        padding: 6px 5px;
        flex: 1;
        cursor: pointer;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #989898;
        text-align: center;

        &.active {
          color: $black;
          background: $white;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 2.5%;
    margin-bottom: 30px;
  }

  &__button{
    padding-bottom: 10px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }

  &__learnMore{
      display: flex;
      justify-content: center;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      padding: 13px 40px;
      cursor: pointer;
      
      span{
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: $green;
      }
  }
}
