@import 'variables';
@import 'libs/normalize';
@import 'components/all';

body {
  background-color: $white;
}

.main{
  position: relative;
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  background-color: #fff;
  max-width: 1400px;
  position: relative;
  margin-bottom: 40px;

  @media (min-width:1200px) {
    margin: 0 auto;
  }

}

.content {
  min-height: 640px;

  &__error-info{
    margin: 100px auto;
    width: 550px;
    text-align: center;

    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p{
      font-size: 20px;
    }
  }

  &__banner{
    width:100%;
    margin-bottom: 7px; 
  }

  &__title {
    font-weight: 800;
    font-style: 38px;
    margin-top: 25px;
    margin-bottom: 14px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
  
    @media (min-width:810px) {
      grid-template-columns: repeat(2, 1fr);
      border-bottom: 1px solid $border;
      border-top: 1px solid $border;
      padding: 20px 0;
    }

    @media (min-width:1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
 
  }

  &__top {
    display: flex;
    flex-direction: column;
  }
}

.container {
  margin: 0 3%;
  
  &--cart {
   
    .content__title {
      margin: 0;
    }
  }
}

.cart {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: $black;
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      display: inline-block;
      margin-left: 7px;
      color: $red;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      transition: all $duration ease-in-out;
    }
    
    &:hover {
      span {
        color: $black;
      }
    }
  }

  .content__items{
    display: block;
    margin-top: 14px;
    border-bottom: 1px solid $border;
    border-top: none;
  }

  &__item {
    display: flex;
    width: 100%;
    border-top: 1px solid $border;
    /* padding-top: 30px;
    margin-top: 30px; */
    position: relative;

    &-img {
      display: flex;
      
      img {
        width: 105px;
        height: 105px;
        margin: 20px 0;
        margin-right: 10px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      width: 40%;

      @media (min-width:810px) {
        flex-direction:row; 
        align-items: center;
        justify-content: space-between;
        width: 43%;
        max-width: 565px;
        margin-left: 20px;
      }

      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: $black;
        margin-top: 20px;

        @media (min-width:810px) {
          margin-top: 0;
        }
      }

      p {
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #989898;
        margin-top: 4px;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
      margin-bottom: 22px;
      background-color: #EFEFEF;
      width: 107px;
      height: 42px;
      border-radius: 10px;

      @media (min-width:810px) {
        margin-top: 0;
        margin-bottom: 0;
      }

      b{
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: $black;
      }
    }
   
  }
  &__right{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    right: 0;

    @media (min-width:810px) {
      flex-direction: row-reverse;
      align-items:center;
      width: 25vw;
      max-width: 353px;
    }
  }

  &__delete{
    margin-top: 22px;

    @media (min-width:810px) {
      margin-top: 0;
    }
  }

  &__price {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: $black;
    margin-bottom: 30px;

    b {
      font-weight: bold;
      font-size: 22px;
      letter-spacing: 0.01em;
    }

    @media (min-width:810px) {
      margin-bottom: 0;
    }
  }

  &__bottom {
    margin: 20px 0;

    &-details {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #989898;
        display: flex;
        align-items: center;
        
        b {
          font-style: normal;
          font-weight: 600;
          font-size: 26px;
          line-height: 30px;
          color: $black;
          margin-left: 20px;
        }
        
      }
    }
   

    &-buttons {
      display: flex;
      flex-direction: column;
      margin-top: 26px;
      gap: 20px;

      @media (min-width:810px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 30px;
        gap: 0;
      }
    }
  }

  &--empty {
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
      margin-bottom: 24px;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 4vw auto 7vw;
    }
  }
}
